.rule-wrapper {
  .emq-title {
    margin-bottom: 40px;
  }

  .el-form-item {
    //padding-left: 32px;
    /*width: 540px;*/
  }

  .el-input,
  .el-select,
  .el-autocomplete,
  .el-textarea,
  .code-view,
  .code {
    width: 460px;
  }

  .code {
    font-size: 13px;
    padding: 4px;
    border: 1px dashed #fff;
    transition: all .3s;
    line-height: 24px;

    &.code-border {
      border: 1px dashed #fff;

      &:hover {
        border: 1px dashed #d8d8d8;
      }
    }


    code {
      word-break: break-word;
    }
  }

  .icon, .tips {
    margin-left: 12px;
  }

  .tips {
    user-select: none;
    font-size: 12px;
  }

  .line {
    width: 94%;
    margin: 30px auto 28px auto;
    background-color: #EDEEF2;
  }
}

.detail-title-wrapper {
  margin: -28px -24px 24px;
  padding: 10px 0;

  .ant-card-body {
    padding: 14px 32px;
  }
}

.emq-list-card {
  margin-bottom: 24px;
}


.metrics-wrapper {
  margin-top: -12px;
}

.metrics-card {
  color: #101010;

  &:not(.last-child) {
    border-right: 1px solid #d8d8d8;
  }

  .card-title {
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    font-weight: bold;
  }

  .card-value {
    font-size: 32px;
  }

  .card-unit {
    font-size: 14px;
  }

  .card-desc {
    margin-top: 8px;
    font-size: 12px;
    color: #a2a2a2;
  }
}


.config-wrapper {

}
