@import "variables.scss";
@import "element-variables";

$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

html *, body * {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/Roboto-Light.woff) format('woff'), url(../fonts/Roboto-Light.ttf) format('truetype');
}

body {
  background-color: #f0f2f5;
  padding: 0;
  margin: 0;
  //font-family: Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important;
  color: rgba(0, 0, 0, .65);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.app-wrapper {
  padding: 24px !important;
}

.line {
  height: 1px;
  min-width: 50px;
  background-color: #34C388;
  margin: 0 auto;
}


.trans-up {
  @extend %trans-up-styles;
}

.el-button {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  font-weight: normal;
  &.el-button--small {
    font-size: 14px;
    padding: 8px 15px;
  }
  //transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);

  //&:hover {
  //  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  //  transform: translateY(-1px);
  //}


  &--dashed {
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
    border-style: dashed;

    &:focus, &:hover {
      color: $--color-primary;
      border-color: $--color-primary;
      background-color: #fff;
    }
  }

  &--danger {
    color: $--color-danger;
    background-color: #f5f5f5;
    border-color: #d9d9d9;

    &:hover {
      background-color: $--color-danger;
      color: #fff;
      border-color: $--color-danger;
    }

    &:focus {
      color: $--color-danger;
      background-color: #fff;
      border-color: $--color-danger;
    }
  }

}


.el-input, .el-textarea {
  transition: all 0.3s;

  &__inner:focus {
    box-shadow: 0 0 0 2px rgba(52, 195, 136, 0.2)
  }
}

.el-form-item {
  &.is-error {
    .el-input__inner, .el-textarea__inner {
      box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2)
    }
  }

  &.is-success {
    .el-input__inner, .el-textarea__inner {
      border-color: $--input-border-color;
    }
  }
}

.el-form {
  &.el-form--label-left {
    .el-form-item.is-required .el-form-item__label {
      margin-left: -10px;
    }
  }
}

.el-select-dropdown__item {
  &.hover {
    background-color: rgba(52, 195, 136, 0.08);
  }
}

.el-message {
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background: #fff;
  border: none;

  &--success {
    .el-message__content, .el-icon-success {
      color: $--color-primary;
    }
  }
}


// radius
.el-input__inner, .el-button:not(.is-circle), .el-select, .el-tag, .el-checkbox, .ant-card, .el-textarea__inner {
  //border-radius: 0 !important;
}


.ant-card-bordered {
  border: none;
}

.emq-list-card.ant-card {
  .ant-card-head {
    border-bottom: 1px solid #eee;

    .ant-card-head-title {
      color: #303133;
      text-align: center;
      font-weight: normal;
      position: relative;

      .back-btn {
        position: absolute;
        left: 0;
        cursor: pointer;
        font-size: 14px;

        &:before {
          font-family: 'element-icons', serif !important;
          content: '\e6de';
          font-weight: bold;
        }
      }
    }
  }
}

.emq-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 24px 0;
}

.emq-table-footer {
  margin-top: 24px;
  text-align: center;
}


.el-table {
  .el-table__header th {
    border-bottom-color: #f7f7f7;
  }

  .el-table__header-wrapper {
    border-radius: 4px;
  }

  thead {
    //color: #101010;
    border-bottom-color: #fff;
  }

  .el-table__empty-block {
    min-height: 180px;
  }

  &.data-list .cell {
    .iconfont {
      font-size: 18px;
    }
  }

  .align-table-column {
    .cell {
      display: flex;
      align-items: center;
    }
  }
}

.btn {
  cursor: pointer;

  &:not(.btn-default) {
    color: #34C388;
  }

  &.raw {
    &:hover {
      color: #34C388;
    }
  }
}


.emq-title {
  font-size: 16px;
  color: #101010;
  font-weight: bolder;

  &[size="small"] {
    font-size: 14px;
  }

  .sub-title {
    font-weight: normal;
    display: block;
    font-size: 12px;
    color: #8F9297;
    margin-top: 12px;
  }

  &.required-title {
    &:before {
      content: '*';
      color: #F5222D;
      margin-right: 4px;
    }
  }
}

.emq-option-item {
  display: flex;
  justify-content: space-between;

  .option-value {
    font-size: 13px;
    padding-left: 10px;
  }
}

.state {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  border-radius: 50%;
}


.dialog-primary-btn {
  margin-left: 12px;
}

.el-dialog {
  .dialog-align-footer {
    text-align: center;
  }
}

.emq-popover-content {
  font-size: 12px;
}


.field-info {
  margin: 0;
  list-style: none;
  padding: 3px 0;
  line-height: 35px;

  .field-title {
    display: inline-block;
    font-style: normal;
    font-size: 12px;
    color: #999;
    padding-right: 16px;
  }

  .field-value {
    font-size: 12px;
    color: #101010;
  }
}


.ant-badge-status-success {
  background-color: #34C388;
}

.ant-badge {
  &[type="success"] {
    .ant-badge-status-text {
      color: #34C388;
    }
  }

  &[type="error"] {
    .ant-badge-status-text {
      color: #f5222d;
    }
  }
}

.page-header {
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;

  .page-header-top-start {
    position: absolute;
    right: 24px;
    top: 24px;
  }

  .page-header-content {
    width: 100%;
    height: 100%;
    min-height: 100%;
    transition: .3s;
    padding: 16px 24px;
    background: #fff;
  }

  .el-breadcrumb, .ant-breadcrumb {
    margin-bottom: 12px;
  }

  .page-header-title-view {
    .title {
      display: inline-block;
      padding-right: 12px;
      color: rgba(0, 0, 0, .85);
      font-weight: 700;
      font-size: 16px;
      line-height: 1.4;

      span {
        margin-right: 8px;
      }
    }
  }

  .page-header-content-view {
    margin-top: 12px;

    .content {
      margin-bottom: 14px;
    }
  }

  .page-header-link {
    margin-top: 16px;

    .link-item {
      margin-right: 12px;
    }
  }
}

.el-radio-group {
  font-weight: normal;
  .el-radio-button__inner {
    font-weight: normal;
  }
  &[border] {
    .el-radio-button__orig-radio:checked + .el-radio-button__inner {
      background-color: #fff;
      color: #34C388;
    }
  }
}
