@import "variables.scss";
@import "element-variables";

$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

html *, body * {
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
  padding: 0;
  margin: 0;
}

.line {
  height: 1px;
  min-width: 50px;
  background-color: #34C388;
  margin: 0 auto;
}


.trans-up {
  @extend %trans-up-styles;
}

.el-button {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  //transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);

  //&:hover {
  //  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  //  transform: translateY(-1px);
  //}


  &--dashed {
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
    border-style: dashed;

    &:focus, &:hover {
      color: $--color-primary;
      border-color: $--color-primary;
      background-color: #fff;
    }
  }

  &--danger {
    color: $--color-danger;
    background-color: #f5f5f5;
    border-color: #d9d9d9;

    &:hover {
      background-color: $--color-danger;
      color: #fff;
      border-color: $--color-danger;
    }

    &:focus {
      color: $--color-danger;
      background-color: #fff;
      border-color: $--color-danger;
    }
  }

}


.el-input, .el-textarea {
  transition: all 0.3s;

  &__inner:focus {
    box-shadow: 0 0 0 2px rgba(52, 195, 136, 0.2)
  }
}

.el-form-item {
  &.is-error {
    .el-input__inner, .el-textarea__inner {
      box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2)
    }
  }

  &.is-success {
    .el-input__inner, .el-textarea__inner {
      border-color: $--input-border-color;
    }
  }
}

.el-form {
  &.el-form--label-left {
    .el-form-item.is-required .el-form-item__label {
      margin-left: -10px;
    }
  }
}

.el-select-dropdown__item {
  &.hover {
    background-color: rgba(52, 195, 136, 0.08);
  }
}

.el-message {
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background: #fff;
  border: none;

  &--success {
    .el-message__content, .el-icon-success {
      color: $--color-primary;
    }
  }
}


// radius
.el-input__inner, .el-button, .el-select, .el-tag, .el-checkbox, .ant-card, .el-textarea__inner {
  border-radius: 0 !important;
}


.emq-list-card.ant-card {
  .ant-card-head {
    border-bottom: 1px solid #eee;

    .ant-card-head-title {
      color: #303133;
      text-align: center;
      font-weight: normal;
      position: relative;

      .back-btn {
        position: absolute;
        left: 0;
        cursor: pointer;
        font-size: 14px;

        &:before {
          font-family: 'element-icons', serif !important;
          content: '\e6de';
          font-weight: bold;
        }
      }
    }
  }
}

.emq-table-header {
  padding: 12px 0 24px 0;
}


.el-table {
  .el-table__header th {
    border-bottom-color: #f7f7f7;
  }

  .el-table__header-wrapper {
    border-radius: 4px;
  }

  thead {
    //color: #101010;
    border-bottom-color: #fff;
  }

  .el-table__empty-block {
    min-height: 180px;
  }

  &.data-list .cell {
    .iconfont {
      font-size: 18px;
    }
  }

  .align-table-column {
    .cell {
      display: flex;
      align-items: center;
    }
  }
}

.btn {
  cursor: pointer;

  &:not(.btn-default) {
    color: #34C388;
  }
}


.emq-title {
  font-size: 16px;
  color: #101010;
  font-weight: bolder;

  .sub-title {
    font-weight: normal;
    display: block;
    font-size: 12px;
    color: #8F9297;
    margin-top: 12px;
  }
}

.emq-option-item {
  display: flex;
  justify-content: space-between;

  .option-value {
    font-size: 13px;
    padding-left: 10px;
  }
}

.state {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  border-radius: 50%;
}


.dialog-primary-btn {
  margin-left: 12px;
}
.el-dialog {
  .dialog-align-footer {
    text-align: center;
  }
}

.emq-popover-content {
  font-size: 12px;
}
