@import 'element-variables';

.el-drawer {
  overflow-y: auto;

  &__header {
    font-size: 16px;
    color: black;
    font-weight: 600;
  }
}

/* Button */
.el-button {
  border-radius: 0;

  &.el-button--small {
    font-size: 14px;
    // line-height: 10px;
  }

  &.el-button--primary:hover {
    background-color: #0b7b6bff;
    border: 1px solid #0b7b6bff;
    // color: #fff;
  }

  /*customized button class of secondary*/
  &.el-button--secondary {
    color: #00b299ff;
    border: 1px solid #00b299;

    &:hover {
      color: #0b7b6bff;
      border: 1px solid #0b7b6b;
      background-color: unset;
    }
  }
}

/* Input */
.el-input,
.el-textarea {
  transition: all 0.3s;
  &__inner:focus {
    box-shadow: 0 0 0 2px rgba(52, 195, 136, 0.2);
  }
  &--small {
    font-size: 14px; //fix a bug in Chrome
  }
}

/* Form */
.el-form {
  &.el-form--label-left {
    .el-form-item.is-required .el-form-item__label {
      margin-left: -10px;
    }
  }
}
.el-form-item {
  &.is-error {
    .el-input__inner,
    .el-textarea__inner {
      box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
    }
  }
  &.is-success {
    .el-input__inner,
    .el-textarea__inner {
      border-color: $--input-border-color;
    }
  }
}
.el-form--label-top .el-form-item__label {
  padding: 0px;
}
.el-form-item {
  .emq-select {
    width: 100%;
  }
}
.code-editor__item.el-form-item {
  .el-form-item__content {
    line-height: 18px;
  }
}

/* Select */
.el-select-dropdown__item {
  &.hover {
    background-color: rgba(52, 195, 136, 0.08);
  }
}
.el-select {
  margin: 0 3px;
}

/* Message */
.el-message {
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background: #fff;
  border: none;
  &--success {
    .el-message__content,
    .el-icon-success {
      color: $--color-primary;
    }
  }
}

/* Table */
.el-table {
  .el-table__header th {
    border-bottom-color: #f7f7f7;
  }
  .el-table__header-wrapper {
    border-radius: 4px;

    .cell {
      line-height: 37px;
    }
  }
  thead {
    border-bottom-color: #fff;
  }
  .el-table__empty-block {
    min-height: 180px;
  }
  &.data-list .cell {
    .iconfont {
      font-size: 18px;
    }
  }
  .align-table-column {
    .cell {
      display: flex;
      align-items: center;
    }
  }
}

/* Dialog */
.el-dialog {
  background: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(43, 56, 95, 0.09);
  border-radius: 2px;
  border: 1px solid rgba(231, 229, 238, 0.31);
  width: 580px;
  &__title {
    color: inherit;
    font-size: 20px;
    font-weight: 700;
  }

  &__body {
    word-break: break-word;
    padding: 30px;
  }
}
.dialog-primary-btn {
  margin-left: 12px;
}

.el-radio-group {
  font-weight: normal;

  .el-radio-button__inner {
    font-weight: normal;
  }
  &[border] {
    .el-radio-button__orig-radio:checked + .el-radio-button__inner {
      background-color: #fff;
      color: #34c388;
    }
  }
}

/* Dropdown */
.el-dropdown-menu__item {
  &.active {
    background-color: #ebf9f3;
    color: #5dcfa0;
  }
}

/* Tabs */
.el-tabs.el-tabs--card {
  & > .el-tabs__header {
    border-bottom: 0px;
    margin-bottom: 0px;
    .el-tabs__nav {
      border: none;
    }
    .el-tabs__item {
      transition: all 0.5s;
      background: #fafafa;
      border-radius: 4px 4px 0 0;
      margin-right: 3px;
      border: 1px solid transparent;
      border-bottom: 1px solid #fff;
      line-height: 38px;

      .el-icon-close {
        font-size: 14px;
        line-height: 14px;
        top: 0px;
        color: #909399;
        &:hover {
          color: #fff;
        }
      }
    }
    .el-tabs__new-tab {
      color: #34c388;
      border-color: #34c388;
      line-height: 17px;
      i {
        font-weight: 600;
      }
    }
    .el-tabs__item.is-active {
      background: #fff;
      border: 1px solid #fff;
    }
  }
}
.el-tabs__item {
  color: #909399;
}

/* Icon */
.el-icon-question {
  cursor: pointer;
}

.el-menu--horizontal > .el-menu-item {
  height: 50px;
  line-height: 50px;
}

.el-menu {
  background-color: #282e38ff;
  border: none;

  .el-menu-item {
    color: #bbb;
    height: 44px;
    line-height: 44px;
    transition: all 0.3s;
    * {
      vertical-align: -2px;
    }
    & i {
      padding-right: 10px;
      font-size: 20px;
    }
    &:hover,
    &:focus {
      background-color: #00b29915;
    }
    &.is-active {
      background-color: #00b29915;
      color: #00b299ff;
      font-weight: 900;
    }
  }
}

.el-card {
  border-radius: 2px;
  border: 1px solid #ececef;
  color: inherit;
}
