%trans-up-styles {
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);

  &:hover {
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    transform: translateY(-1px);
  }
}

@mixin trans-up-mixin($l) {
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);

  &:hover {
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    transform: translateY($l);
    border-color: #fff;
  }
}

$color-theme: #2f333e;
$color-theme--active: #333844;
