.auth {
  .create-form-title {
    font-size: 16px;
    color: #1d1d1d;
    font-weight: 600;
  }
  .item-description {
    color: #5b5b5b;
    font-size: 12px;
    margin-bottom: 32px;
  }
  .create-form {
    width: 80%;
    .el-form-item {
      border: 1px solid #e4e4e4;
      .el-form-item__label {
        padding-top: 12px;
        padding-left: 15px;
        line-height: inherit;
        font-size: 12px;
        color: #4d4d4d;
      }
    }
    .el-input .el-input__inner,
    .el-textarea__inner,
    .el-select__inner {
      border: none;
    }
    .el-radio.is-bordered {
      text-align: center;
      &.mechanism {
        width: 240px;
      }
      &.backend {
        width: 160px;
      }
    }
    .select-database {
      margin-bottom: 32px;
    }
  }
  .step-btn {
    margin-top: 32px;
  }
  .result-block {
    .result-title {
      font-size: 16px;
      color: #fff;
      padding: 24px;
    }
    &.error {
      background: #e34242;
    }
    &.success {
      background: #00b299;
    }
  }
}
